.username{
    font-style: italic;
    color: #fff;
    margin-bottom: 0.5rem;
    margin-top: auto;
    padding: 0.5rem;
    text-align: center;
    text-transform: capitalize;
}
.Email{
    font-style: italic;
    color: #fff;
    margin-bottom: 0.5rem;
    margin-top: auto;
    padding: 0.5rem;
    text-align: center;
    text-transform: capitalize;
}
.Password{
    font-style: italic;
    color: #000;
    margin-bottom: 0.5rem;
    margin-top: auto;
    padding: 0.5rem;
    text-align: center;
    text-transform: capitalize;
}
.btn-6 {
   background: #fff;
  color: #000;
  line-height: 42px;
  padding: 0;
  border: none;
  margin-left: 130px;
}
.btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-6:before,
.btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 2px;
  background: #fff;
}
.btn-6:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}
.btn-6:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}
.btn-6:hover{
  color: #fff;
  background: transparent;
}
.btn-6:hover:before {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6:hover:after {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6 span:before,
.btn-6 span:after {
  position: absolute;
  content: "";
  background: #fff;
}
.btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 2px;
  transition: all 500ms ease;
}
.btn-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  transition: all 500ms ease;
}
.btn-6 span:hover:before {
  width: 100%;
}
.btn-6 span:hover:after {
  width: 100%;
}

.custom-btn {
    width: 130px;
    height: 40px;
    /* padding: 10px 25px; */
    border: 2px solid #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    /* background: transparent; */
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .login{
    margin-left: 730px;
    margin-right: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
  }
  .input-container{
    position:relative;
    margin-bottom:25px;
  }
  .input-container label{
    position:absolute;
    top:0px;
    left:0px;
    font-size:16px;
    color:#fff;	
      pointer-event:none;
    transition: all 0.5s ease-in-out;
  }
  .input-container input{ 
    border:0;
    border-bottom:1px solid #fff;  
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:#fff;
  }
  .input-container input:focus{ 
   border:none;	
   outline:none;
   border-bottom:1px solid #fff;	
  }
  .input-container input:focus ~ label,
  .input-container input:valid ~ label{
    top:-12px;
    font-size:12px;
    
  }
  .btn-7 {
    background: #000;
   color: #fff;
   line-height: 42px;
   padding: 0;
   border: none;
   margin-left: 130px;
 }
 .btn-7 span {
   position: relative;
   display: block;
   width: 100%;
   height: 100%;
 }
 .btn-7:before,
 .btn-7:after {
   position: absolute;
   content: "";
   height: 0%;
   width: 2px;
   background: #000;
 }
 .btn-7:before {
   right: 0;
   top: 0;
   transition: all 500ms ease;
 }
 .btn-7:after {
   left: 0;
   bottom: 0;
   transition: all 500ms ease;
 }
 .btn-7:hover{
   color: #000;
   background: transparent;
 }
 .btn-7:hover:before {
   transition: all 500ms ease;
   height: 100%;
 }
 .btn-7:hover:after {
   transition: all 500ms ease;
   height: 100%;
 }
 .btn-7 span:before,
 .btn-7 span:after {
   position: absolute;
   content: "";
   background: #000;
 }
 .btn-7 span:before {
   left: 0;
   top: 0;
   width: 0%;
   height: 2px;
   transition: all 500ms ease;
 }
 .btn-7 span:after {
   right: 0;
   bottom: 0;
   width: 0%;
   height: 2px;
   transition: all 500ms ease;
 }
 .btn-7 span:hover:before {
   width: 100%;
 }
 .btn-7 span:hover:after {
   width: 100%;
 }
 
 .custom-btn7 {
     width: 130px;
     height: 40px;
     /* padding: 10px 25px; */
     border: 2px solid #000;
     font-family: 'Lato', sans-serif;
     font-weight: 500;
     /* background: transparent; */
     cursor: pointer;
     transition: all 0.3s ease;
     position: relative;
     display: inline-block;
     text-align: center;
   }